* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(315deg, #c2118d 0%, #ff503c 74%);
  font-size: 20px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.headings,
.weather-info {
    display: flex;
    align-items: center;
}

.headings p,
.weather p {
    width: 33.3%;
    text-align: center;
}

.headings {
    height: 35%;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.weather {
    height: 65%;
    font-size: 26px;
}